.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.container {
  border: 1px solid black;
  /* width: 100px; */
  padding: 10px;
  margin: 10px;
}

.yes {
  color: green;
}

.no {
  color: red;
  text-decoration: line-through;
}

.list-resizable-container {
  border: 1px solid red;
}

.list-container {
  border: none;
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.list li {
  padding: 15px;
}

.list.vertical {
  display: flex;
  flex-direction: column;
  background: hsl(204, 100%, 97%);
  justify-content: start;
  align-items: stretch;
  text-align: start;
}

.list.vertical li {
  border-width: 0;
  border-left: 5px solid transparent;
}

.list.vertical .active {
  background: hsl(205, 70%, 80%);
  border-color: hsl(205, 68%, 26%);
}

.list.horizontal {
  display: flex;
  flex-direction: row;
  background: hsl(206, 100%, 89%);
}

.list.horizontal li {
  border-width: 0;
  border-bottom: 5px solid transparent;
}

.list.horizontal .active {
  background: hsl(205, 100%, 91%);
}
